// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.clickable_text:hover {
  cursor: pointer;
}

#map {
  height: 80vh;
  width: 90vw;
}